{% extends 'layout.html.twig' %}

{% block content %}

	{% embed '@MazariniBootstrap/crud/_index.html.twig' with {'span': 4, 'data': dataPagination(3, 10, 70, 10)} only %}

		{% block page_header %}
			<th>Col A</th>
			<th>Col B</th>
			<th>Col C</th>
			<th>Col D</th>
			<th>Action</th>
		{% endblock page_header %}

		{% block page_row %}
			<td>{{ entity.COL1 }}</td>
			<td>{{ entity.COL2 }}</td>
			<td>{{ entity.COL3 }}</td>
			<td>{{ entity.COL4 }}</td>
		{% endblock page_row %}

	{% endembed %}

{% endblock content %}
