{% extends 'layout.html.twig' %}

{% block title %}
	Deliveries of
	{{ supplier.name }}
{% endblock %}

{% block content %}

	{% embed '@MazariniPagination/_list.html.twig' with {'span': 3} %}

		{% block page_header %}
			<th>date</th>
			<th>name</th>
			<th>montant</th>
			<th>action</th>
		{% endblock page_header %}

		{% block page_row %}
			<td>{{ entity.day|date("d/m/Y") }}</td>
			<td>{{ entity.supplier.name }}</td>
			<td>{{ entity.amount }}</td>
		{% endblock page_row %}

	{% endembed %}

{% endblock content %}
