{% extends 'layout.html.twig' %}

{% block title %}
	Livraisons de "{{ supplier.name }}"
{% endblock %}

{% block content %}

	{% embed '@MazariniPagination/_list.html.twig' with {'span': 2} %}

		{% block page_header %}
			<th>Dates livraison</th>
			<th>Montants</th>
			<th>Actions</th>
		{% endblock page_header %}

		{% block page_row %}
			<td>{{ entity.day|date("d/m/Y") }}</td>
			<td>{{ entity.amount }}</td>
		{% endblock page_row %}

	{% endembed %}

{% endblock content %}
