{% extends '@MazariniPagination/_view.html.twig' %}

{% block title %}
	Delivery of
	{{ supplier.name }}
{% endblock title %}

{% block view_content %}
	<tr>
		<th>date</th>
		<td>{{ data.entity.day|date("d/m/Y") }}</td>
	</tr>
	<tr>
		<th>name</th>
		<td>{{ data.entity.supplier.name }}</td>
	</tr>
	<tr>
		<th>amount</th>
		<td>{{ data.entity.amount }}</td>
	</tr>
{% endblock view_content %}
