{% extends '@MazariniPagination/_view.html.twig' %}

{% block title %}
	Livraison de
	{{ supplier.name }}
{% endblock title %}

{% block view_content %}
	<tr>
		<th>Date de livraison :</th>
		<td>{{ data.entity.day|date("d/m/Y") }}</td>
	</tr>
	<tr>
		<th>Montant de la facture :</th>
		<td>{{ data.entity.amount }}</td>
	</tr>
{% endblock view_content %}
