{% extends 'base.html.twig' %}

{% block head_title %}
    Design
{% endblock %}
{% block title %}
    Design
{% endblock %}

{% block content %}
    <u>
        <li>
            {% include 'part/folder.html.twig'  with {'items': menu} %}
        </li>
    </ul>
    {{ dump(menu) }}
{% endblock %}
