{% extends 'base.html.twig' %}

{% block head_title %}
    Home
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    This friendly message is coming from:
    <ul>
        <li>Your controller at
            <code>
                <a href="{{ '/home/mazarini/Workspace/dev/sources/src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a>
            </code>
        </li>
        <li>Your template at
            <code>
                <a href="{{ '/home/mazarini/Workspace/dev/sources/templates/index/index.html.twig'|file_link(0) }}">templates/index/index.html.twig</a>
            </code>
        </li>
    </ul>
{% endblock %}
