<table class="table table-bordered">
	<thead>
    	<tr>
			<th></th>
			{% for date in dates %}
				<th>
					{{ date|date('D d') }}
				</th>
			{% endfor %}
			<th>Total</th>
	</tr>
	</thead>
	<tbody>
		{% for name,deliveries in amounts %}
			<tr>
				<td>{{ name }}</td>
				{% for amount in deliveries %}
					<td>
						{{ (amount / 100)|format_currency('CHF', {}) }}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
