{% extends 'layout.html.twig' %}

{% block title %}
	Suppliers
{% endblock %}

{% block content %}

	{% embed '@MazariniPagination/_list.html.twig' with {'span': 1} %}

		{% block page_header %}
			<th>Noms</th>
			<th>Actions</th>
		{% endblock page_header %}

		{% block page_row_container %}
			<tr>
				<td>{{ entity.name }}</td>
				{% if data.links['show-' ~ entity.id].url != '#' %}
					<td>
						{% include '@MazariniBootstrap/button/link-sm.html.twig' with { 'link': data.links['show-' ~ entity.id]} %}
						{% if data.links['edit-' ~ entity.id].url != '#' %}
							{% include '@MazariniBootstrap/button/link-sm.html.twig' with { 'link': data.links['edit-' ~ entity.id]} %}
						{% endif %}
						{% include '@MazariniBootstrap/button/link-sm.html.twig' with { 'link': data.links['delivery_index-' ~ entity.id]} %}
					</td>
				{% endif %}
			</tr>
		{% endblock page_row_container %}

	{% endembed %}

{% endblock content %}
