{% extends 'layout.html.twig' %}

{% block head_title %}
    Fournisseurs
{% endblock head_title %}

{% block title %}
    Liste des fournisseurs
{% endblock title %}

{% block content %}

    <style>
        .table {
            width: unset;
            margin: auto;
        }
    </style>

    {% embed '@MazariniBootstrap/crud/_index.html.twig' with {'span': 3} %}

        {% block page_header %}
            <th>Noms</th>
            <th class="text-right">
                Livraisons
            </th>
            <th class="text-right">
                Montants
            </th>
            <th>Actions</th>
        {% endblock page_header %}

        {% block page_row %}
            <td>{{ entity.name }}</td>
            <td class="text-right">
                <a href="{{ data.links['delivery_index-' ~ entity.id].url }}" data-toggle="tooltip" title="Voir le détail des livraisons">{{ entity.deliveries.count }}</a>
            </td>
            <td class="text-right">{{ (entity.amount / 100)|format_currency('CHF', {}) }}</td>
        {% endblock page_row %}

    {% endembed %}
{% endblock content %}
