{% extends '@MazariniPagination/_view.html.twig' %}

{% block title %}
	Supplier
{% endblock title %}

{% block view_content %}
	<tr>
		<th>name</th>
		<td>{{ data.entity.name }}</td>
	</tr>
{% endblock view_content %}
