{% extends 'base.html.twig' %}

{% block head_title %}
    Admin
{% endblock %}

{% block title %}
    Admin
{% endblock %}

{% block content %}
    <ul>
        <li>Your controller at
            <code>
                <a href="{{ '/home/mazarini/Workspace/dev/sources/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a>
            </code>
        </li>
        <li>Your template at
            <code>
                <a href="{{ '/home/mazarini/Workspace/dev/sources/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a>
            </code>
        </li>
    </ul>
{% endblock %}
