
.site-footer {
    height: 60px;
    margin-left: 210px;
    padding: 15px 0;
    background: #4ECDC4;
    color: #fff;
}

@media (max-width: 768px) {
    .site-footer {
        margin-left: 0px /*!important*/;
        position: none /*!important*/;
    }
}

