#main-content {
    margin-left: 210px;
}

@media (max-width: 768px) {
    #main-content {
        margin: 0px /*!important*/;
        position: none /*!important*/;
    }
}

.site-min-height {
    min-height: 100vh;
}

.wrapper {
    display: inline-block;
    margin-bottom: -60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 75px;
    padding-top: 75px;
    width: 100%;
}
