<!-- Modal start-->
<div id="design_menu" class="modal fade" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose a step...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-auto">
                <ul>
                    {% include 'part/folder.html.twig' with {'name':'design', 'items':design_menu} %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Button triggerdesign_menu-->
<button id="design_menu_button" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#design_menu">
    View menu
</button>
<script>
    window.addEventListener('load', function () {
        window.addEventListener('keydown', function (evt) {
            if (evt.keyCode == 27) {
                document.getElementById('design_menu_button').click();
            }
        });
    });
</script>
<!-- Modal end -->
