{% extends 'layout.html.twig' %}

{% block title %}
	Create new Example
{% endblock %}

{% block content %}
	{{ include('example/_form.html.twig') }}
	<a href="{{ path('example_index') }}">back to list</a>
{% endblock %}
