<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block head_title %}
                Welcome!
            {% endblock %}
        </title>
        <link
        rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <section
                id="container">
                <!--header start-->
                <header class="header black-bg">
                    {% block header %}{% endblock %}
                </header>
                <!--header end-->
                <!--sidebar start-->
                <aside>
                    <div id="sidebar" class="nav-collapse ">
                        {% block sidebar %}{% endblock %}
                    </div>
                </aside>
                <!--sidebar end-->
                <!--main content start-->
                <section id="main-content">
                    <div class="wrapper site-min-height">
                        {% block main %}
                            <h1>
                                {% block title %}{% endblock %}
                            </h1>
                            {% block content %}{% endblock %}
                        {% endblock %}
                    </div>
                </section>
                <!--main content end-->
                <!--footer start-->
                <footer class="site-footer">
                    <div class="text-center">
                        {% block footer %}{% endblock %}
                    </div>
                </footer>
                <!--footer end-->
            </section>
        {% endblock %}
        <!--script for this page-->
        {{ encore_entry_script_tags('app') }}
        {% block javascript %}{% endblock %}
        <!-- modal start -->
        {% block static %}{% endblock %}
        <!-- modal start -->
    </body>
</html>
