<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block head_title %}
                Welcome!
            {% endblock %}
        </title>
        <link
        rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="page-container" class="wrapper">
                <nav id="sidebar" class="sidebar js-sidebar">
                    {% block sidebar %}
                        {% include 'sidebar.html.twig' %}
                    {% endblock sidebar %}
                </nav>
                <div class="main">
                    <nav class="navbar navbar-expand navbar-light navbar-bg">
                        {% block header %}
                            {% include 'header.html.twig' %}
                        {% endblock header %}
                    </nav>
                    <main class="content">
                        {% block main %}
                            {% include 'main.html.twig' %}
                        {% endblock main %}
                    </main>
                    <footer class="footer">
                        {% block footer %}
                            {% include 'footer.html.twig' %}
                        {% endblock footer %}
                    </footer>
                </div>
            </div>

        {% endblock %}
        <!--script for this page-->
        {{ encore_entry_script_tags('app') }}
        {% block javascript %}{% endblock %}
        <!-- modal start -->
        {% block static %}{% endblock %}
        <!-- modal end -->
    </body>
</html>
