{% use 'base/stylesheets.html.twig' %}
{% use 'base/javascripts.html.twig' %}
{% use '@MazariniBootstrap/part/messages.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block head_title %}{% endblock head_title %}
        </title>
        {% block stylesheets %}
            {{ parent() }}
        {% endblock stylesheets %}
    </head>
    <body>
        {% block static %}{% endblock static %}
        <div class="container">
            {% block body %}
                <div class="row">
                    <div class="col-2">
                        {% block first_bar_container %}{% endblock first_bar_container %}
                    </div>
                    <div class="col-10">
                        {% block messages %}
                            {{ parent() }}
                        {% endblock messages %}
                        <h1>
                            {% block title %}{% endblock title %}
                        </h1>
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            {% endblock body %}
        </div>
        {% block javascripts %}
            {{ parent() }}
        {% endblock javascripts %}
        {% block modal %}{% endblock modal %}
    </body>
</html>
