{% use 'part/stylesheets.html.twig' %}
{% use 'part/navbar.html.twig' %}
{% use '@MazariniBootstrap/part/messages.html.twig' %}
{% use 'part/javascripts.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/img/logo/favicon.ico"/>
        <title>
            {% block head_title %}{% endblock head_title %}
        </title>
        {% block stylesheets %}
            {{ parent() }}
        {% endblock stylesheets %}
    </head>
    <body>
        {% block static %}
            {% block navbar %}
                {{ parent() }}
            {% endblock navbar %}
        {% endblock static %}
        <div class="container">
            {% block body %}
                <div class="row">
                    <div class="col-12">
                        {% block messages %}
                            {{ parent() }}
                        {% endblock messages %}
                        <h1>
                            {% block title %}{% endblock title %}
                        </h1>
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            {% endblock body %}
        </div>
        {% block javascripts %}
            {{ parent() }}
        {% endblock javascripts %}
        {% block modal %}{% endblock modal %}
    </body>
</html>
