{% extends 'design/layout.html.twig' %}

{% block title %}
    title
{% endblock %}

{% block content %}
    <p>
        Content content content content content content content content content content content content content content content content content 
                                    content content content content content content content content content content content content content content content content content
                                    content content content content content content content content content content content content content content content content content
                                    content content content content content content content content content content content content content content content content content.
    </p>
    <p>
        Content content content content content content content content content content content content content content content content content 
                                    content content content content content content content content content content content content content content content content content
                                    content content content content content content content content content content content content content content content content content
                                    content content content content content content content content content content content content content content content content content.
    </p>
{% endblock %}
